/* fonts */
@font-face {
    font-family: 'Bellota Text';
    src: url('./../src/fonts/BellotaText-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Parisienne';
    src: url('./../src/fonts/Parisienne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('./../src/fonts/Montserrat-Light.ttf') format('truetype');
}
/*todo el documento*/
    *{
        padding: 0%;
        margin: 0%;
        font-family: 'Montserrat';
    }
    
        body{
        background: linear-gradient(172.19deg, #842DC9 -7.12%, #35C287 99.37%);
        overflow-x: hidden;
        }

    /*Header*/

        header{
            background: url('./../src/images/Header.png') no-repeat center center;
            background-size: cover;
            height: 530px;
            display: flex;
            justify-content: flex-end;
        }

        .header-titles{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            width: 50%;
        }


        h1{
            font-family: 'Bellota Text', cursive;
            color: #546277;
            display: block;
            font-size: 45px;
            margin-bottom: 10px;
        }

        h2{
            font-family: 'Parisienne', cursive;
            color: #B22E9D;
            font-size: 45px;
        }

        .header-titles-logo{
            width: 60px;
            top: 23px;
            left: 84px;
        }

    /*Fin header*/

    /*Barra navegación*/

        nav{
            padding: 10px;
        }

        .navegation{
            font-family: 'Bellota Text';
            font-size: 20px;
            border-top: 1px solid #546277; 
            background-color: #ffffff; 
            display: flex;
            align-items:center;
            justify-content: flex-end;
        }

        .navegation li{
            list-style: none;
            display: inline; 
            padding-right: 20px;
        }

        a{
            text-decoration: none;
            color: #546277;
        }

            /*animaciones nav*/

            a:hover{
                background-color: #546277;
                color: #ffffff;
            }

    /*Fin barra navegación*/

    /*Sobre mi*/

        .about-me{
            display: flex;
            height: 626px;
            padding-top: 80px;
        }

        .aboutme-oval{
            width: 60%;
            margin-left: 20%;
            width: 600px;
            height: 400px;
            background: #FFFFFF;
            border-radius: 0px 80px;
        }

        .img-vanessa{
            width: 351px;
            height: 450px;
            margin-left: -94px;
            margin-top: -101px;
        }

        .aboutme-tittle{
            
            font-family: 'Bellota Text';
            color: black;  
            margin-top: 30px; 
            margin-left: 30px;
        }

        .aboutme-text{
            color: rgb(32, 32, 32);
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 30px;
        }

        .aboutme-circle{
            width: 190px;
            height: 190px;
            position: relative;
            background-color: #ffffff;
            border-radius: 50%;
            border: 16px solid #F79F8F;
            text-align: center;
            font-style: italic;
            display: flex;
            align-items: center;
            margin-top: -82px;
            margin-left: -34px;
            z-index: 2;
        }
        
        .vector-rosa{
            width: 100%;
            height: 340px;
            margin-top: -140px;
            margin-bottom: -100px;
        }


    /*Fin sobre mi*/

    /*Sección tratamientos*/

        .traitment{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .traitment-position{
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        
        .traitment-title{
            font-family: 'Bellota Text';
            color: #ffffff;
            padding: 50px 0px 20px 0px;
        }

        .traitment-card{
            margin: 20px;
            width: 360px;
            height: 400px;
            background-color: #ffffff;
            border-radius: 80px;
            display: inline-block;
        }

        .traitment-card img{
            width: 360px;
            height: 300px;
            object-fit: cover;
            border-radius: 80px 80px 0px 0px;
        
        }

        .traiment-card-title{
            margin-top:12px;
            margin-left: 20px;
        }

    /*Fin sección tratamientos*/

    /* Sección precios */

            .prices{
                background-color: #ffffff;
                margin-top: 20px;
                padding-top: 20px;
            }
            .prices-title{
                font-family: 'Bellota Text';
                color:#546277;
                text-align: center;          
            }

            .div-prices ul{
                border-left: 2px solid #842DC9;
                height: max-content;
                padding-left: 8px;
                margin-left: 50px;
                margin-bottom: 60px;
                width: 35%;
            }

        
            .div-prices li{
                list-style: none;
                margin-bottom: 30px;
                margin-left: 10px;
            }

            .grid-container{
                display: grid;
                grid-template-rows: 395px 200px;
                grid-template-columns: 2fr 2fr;
                grid-gap:10px;
                margin-left: 163px;
                margin-right: 163px;
                align-items: flex-start;
                margin-top: 50px;
            }

            .grid-item{
                grid-area: auto;
            }

            h3{
                text-align: center;
                margin-top: 20px;
            }

            .img-prices{
                display: flex;
                justify-content: flex-end;
            
            }

            .img-prices img{
                width: 376px;
                margin-top: -376px;
            }

        /* fin seccion precios */

        /* seccion reserva tu cita */

            .date{
                display: flex;
                align-items: center;
                flex-direction: column;
            }
            .date h2{
                font-family: 'Bellota Text';
                color:#ffffff;
                text-align: center;
                margin-top: 20px;
                padding-top: 20px;
            }

            .date p{
                color: #000000;
                background-color: rgb(255, 246, 127);
                font-weight: bold;
                padding: 5px;
            }

        
        /* fin seccion reserva tu cita */

        /* footer */

        footer{
            background-color: #ffffff;
            margin-top: 84px;
        }

        .contact{
            margin-top: -50px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        .contact-tittle{
            font-family: 'Bellota Text';
            color:#000000;
            font-size: 14px;
            margin-right: 340px;
            margin-top: 15px;
            margin-bottom: 8px;
        }

        .contact-details{
            display: flex;
            justify-content:flex-end;
            align-items: flex-start;
            flex-direction: column;
            margin-right: 20px;
        }

        .contact-details li{
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;        
        }

        .contact-nav{
            display: flex;
            justify-content:flex-start;
            align-items: flex-start;
            margin-top: 20px;
            list-style: none;
        }

        .contact-nav li{
            margin-right: 10px;
            margin-left: 10px;
        }

        .copy{
            text-align: center;
            margin-top: 50px;
        }


/*Tablet*/
@media screen  and (max-width: 980px){
    
    /*Header*/

        header{
            height: 377px;
        }

        .header-titles {
            width: 60%;
            padding-top: 50px;
        }

        h1{
            font-size: 33px;
        }

        h2{
            font-size: 33px;
        }

    /*Fin header*/

    /*Barra navegación*/

        .navegation{
            justify-content: center;
        }

    /*Fin barra nevagción*/

    /*Sección sobre mi*/
        .about-me{
            width: 100%;
            padding-top: 100px;
            height: 560px;
        }

        .aboutme-oval{
            margin-left: 17%;
            width: 419px;
            height: 390px;
        }

        .vector-rosa{
            height: 200px;
            margin-top: -160px;
            margin-bottom: -64px;
        }

    /*Fin sección sobre mi*/

    /*Sección tratamientos*/

        .traitment-position{
            height: 100%;
            display: flex;
            width: 100vw;
            overflow-x: auto;
            flex-wrap: nowrap;
            justify-content: flex-start;
        }
        
        .traitment-card{
            margin: 20px;
            width: 40vw;
            height: 367px;
        }

        .traitment-card img{
            width: 40vw;
        
        }

        .traiment-card-title{
            font-size: 12px;
            margin-top: 16px;
            margin-left: 0px;
        }
    
    /*Fin seccion tratamientos*/

    /*Sección precios*/

        .grid-container{
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr;
            grid-gap:10px;
            margin-top: 50px;
            margin-left: 0px;
            margin-right: 0px;
        }

        .div-prices ul{
            border-left: 2px solid #842DC9;
            height: max-content;
            margin-left: 40px;
            margin-bottom: 60px;
            width: 85%;
        }

        .img-prices img {
            margin-top: -436px;
        }

    /*Fin sección precios*/

    /*Footer*/

        .contact-details{
            width: 40vw;
        }

        .contact-nav{
            font-size: 12px;
        }

        .contact-details li{
            font-size: 12px;
        }

        .copy{
            font-size: 14px;
            margin-top: 15px;
        }

    /*Fin footer*/
}

/*Mobile*/
@media screen and (max-width: 480px){

    /*Header*/

        header{
            background: url('./../src/images/headerMobile.png') no-repeat center center;
            background-size: cover;
            height: 150px;
        }



        .header-titles{
            height: 37%;
            width: 64%;
            padding-top: 22px;
        }

        h1{
            font-size: 16px;
        }

        h2{
            font-size: 16px;
        }

        .header-titles-logo{
            width: 23px;
        }


    /*bara navegación*/
        
        .navegation {
            font-family: 'Bellota Text';
            font-size: 8px;
            border-top: 1px solid #546277;
            background-color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .navegation li{
            padding-right: 18px;
        }

    /*Fin barra navegación*/

    /*Sección sobre mi*/

        .about-me{
            width: 100%;
            height: 285px;
            padding-top: 50px;
        }

        .aboutme-oval{
            margin-left: 7%;
            width: 214px;
            height: 204px; 
            overflow-y: auto;
            border-radius: 0px 41px;
        }

        .img-vanessa{
            width: 191px;
            height: 250px;
            object-fit: contain;
            margin-left: -53px;
            margin-top: -18px;
        }

        .aboutme-circle{
            margin-left: -30px;
            margin-top: -98px;
            width: 120px;
            height: 120px;
            border: 10px solid #F79F8F;
        }

        .aboutme-circle p{
            font-size: 12px;
            padding: 4px;
        }

        h2 {
            font-size: 16px;
        }

        .aboutme-img-circle {
            z-index: 2;
        }

        .vector-rosa{
            height: 112px;
        }

    /*Fin sección sobre mi*/

    /*Seccion tratamientos*/

        .traitment-position{
            flex-wrap: nowrap;
            justify-content: flex-start;
            overflow-x: auto;
            width: 100vw;
        }

        .traitment-card{
            margin: 10px;
            width: 50vw;
            height: 183px;
            border-radius: 30px;
        }

        .traitment-card img{
            width: 50vw;
            height: 120px;
            border-radius: 30px 30px 0px 0px;
        }

    /*Fin seccion tratamientos*/

    /*Sección precios*/

        .img-prices img{
            margin-top: -100px;
            width: 235px;
        }

        .grid-container{
            font-size: 14px;
        }

    /*Fin sección precios*/

        

    /*Seccion reserva tu cita*/
    
        .date img{
            width: 100vw;
        }

        .date p{
            font-size: 12px;
            text-align: center;
        }

    /*Fin seccion reserva tu cita*/

    /*Footer*/

        .contact{
            justify-content:unset;
        }
        .contact-nav{
            display: block;
            margin-top: 10px;
        }

        .contact-details{
            margin-right: 0px;
            margin-left: 30px;
        }

        .contact-tittle{
            margin-top: 8px;
        }

        .contact-direction{
            width: 200px;
            margin-bottom: 6px;
        }

        .contact-details a{
            display: flex;
            align-items: center;
        }

        


}